
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.header {
	grid-area: header;
  	background-color: #bada55;
	height: 10%;
	font-size: 24px;
	text-align: center;
	border: solid 2px black;
	padding-top: 25px;
	text-align: center;
	font-size: 35px;
	height:100px;
}


.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'navbar navbar navbar navbar navbar navbar' 
	'left left center right right right'
    'footer footer footer footer footer footer';
} 

.header
{
	grid-area: header;	
	height: 15vh; 
  	background-color: #eb4034;
	border: solid 2px black;
}

.navbar
{
	grid-area: navbar;	
	height: 10vh; 
  	background-color: #34e8eb;
	border: solid 2px black;
}

.left
{
	grid-area: left;
	height: 70vh; 
  	background-color: #430b66;
	border: solid 2px black;
}

.center
{
	grid-area: center;
	height: 70vh; 
  	background-color: #9e5db5;
	border: solid 2px black;
}

.right
{
	grid-area: right;
	height: 70vh; 
  	background-color: #69c977;
	border: solid 2px black;
}

.footer
{
	grid-area: footer;	
	height: 5vh; 
  	background-color: #d0d959;
	border: solid 2px black;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other 
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
	  'main main main main main main'
	  'footer footer footer footer footer footer';
  }
  
.left
 {
  padding: 10px;
  height: 300px;
  position:relative;
  top:0%;
}
.main
{
	padding: 10px;
  height: 300px;
  position:relative;
  top:0%;
}
.footer {
  padding: 10px;
  height: 300px;
  position:relative;
  top:0%;
}	
}*/